// @import url("./styles.css");
@import url("./styles/home-page.scss");

canvas {
    border: 5px solid pink;
    display: flex;
}

* {
    background-color: burlywood;
}

.header-container {

    // margin-left: auto;
    // margin-right: auto;
    display: flex;
    justify-content: space-around;

    #personal-links{
        flex-direction: row;
    }
    
    #title{
        
        display: flex;
        justify-content: center;
        align-items: center;
        color: beige;
    }

    #music-button{
        // color: wheat;
    }
}
